/* css reset */
* {
  margin: 0px;
  padding: 0px;
}

/*..........................................................................................................................*/

/* bar css aah */
.bar {
  display: flex;
  border: 2px solid red;
  background-color: red;
  height: 75px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(255, 252, 252);
  align-items: center;
  text-align: center;
}
.items {
  font-size: 23px;
  font-weight: bolder;
  border: 2px solid red;
  width: 257px;
  margin: 5px;
  padding: 5px;
  height: 50px;
}

#phoneicon img {
  /* border: 2px solid yellow; */
  width: 36px;
  height: 34px;
  margin: 12px;
}
#phoneicon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#two {
  display: flex;
  align-items: center;
  justify-content: center;
}
#two img {
  width: 29px;
  height: 32px;
  padding: 9px;
  margin: 0px;
}
#three {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
/* end of bar css */

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* bar media queries */
@media only screen and (min-width:418px) and (max-width:847px) {
  .bar{
    height: 143px;
    
  }
 }
 @media only screen and (min-width:284px) and (max-width:565px) {
  .bar{
    height: 219px;
    
  }
 }
 @media only screen and (min-width:0px) and (max-width:283px) {
  .bar{
    height: 221px;
    
  }
 }

 /* end of bar media queries */

 /*.........................................................................................................................*/

/* Bar2 cha css ahh */
/* 
 .bar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  border: 10px solid rgb(47, 82, 255);
}
#logobar img {
  display: inline-block;
  /* border: 10px solid rgb(0, 255, 68); */
  /* width: 952px;
height: 500px;
}
#logobar2 img{
  width: 952px;
height: 500px;
} */

/* end of css bar2 */

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*start NAVIGATION BAR*/

#navbar {
  /* border: 2px solid rgb(17, 255, 0); */
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.858);
}
#menu ul {
  display: flex;
  /* border: 2px solid rgb(98, 177, 56); */
  height: 50px;
  width: 1000px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
#menu ul li {
  list-style: none;
}
#menu ul li a {
  text-decoration: none;
  color: rgb(255, 2, 2);
  font-size: 31px;
}
p {
  color: rgb(255, 115, 0);
  font-size: 40px;
  /* border: 2px solid green; */
  margin: 100px;
  margin-right: 10px;
  width: 364px;
  margin-left: -5px;
}
#logoimg img {
  width: 300px;
  height: 100px;
  /* padding-right: 112px; */
  margin-left: -85px;
}

#logo {
  display: flex;
  /* border: 10px solid rgba(63, 15, 255, 0.2); */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 700px;
  height: 60px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/