/* css reset */
* {
  margin: 0px;
  padding: 0px;
}

/*..........................................................................................................................*/

/* bar css aah */
.bar {
  display: flex;
  border: 2px solid red;
  background-color: red;
  height: 75px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(255, 252, 252);
  align-items: center;
  text-align: center;
}
.items {
  font-size: 23px;
  font-weight: bolder;
  border: 2px solid red;
  width: 257px;
  margin: 5px;
  padding: 5px;
  height: 50px;
}

#phoneicon img {
  /* border: 2px solid yellow; */
  width: 36px;
  height: 34px;
  margin: 12px;
}
#phoneicon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#two {
  display: flex;
  align-items: center;
  justify-content: center;
}
#two img {
  width: 29px;
  height: 32px;
  padding: 9px;
  margin: 0px;
}
#three {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
/* end of bar css */

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* bar media queries */
@media only screen and (min-width:418px) and (max-width:847px) {
  .bar{
    height: 143px;
    
  }
 }
 @media only screen and (min-width:284px) and (max-width:565px) {
  .bar{
    height: 219px;
    
  }
 }
 @media only screen and (min-width:0px) and (max-width:283px) {
  .bar{
    height: 221px;
    
  }
 }

 /* end of bar media queries */

 /*.........................................................................................................................*/

/* Bar2 cha css ahh */

 .bar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  /* border: 10px solid rgb(47, 82, 255); */
}
#logobar img {
  display: inline-block;
  /* border: 10px solid rgb(0, 255, 68); */
  width: 952px;
height: 485px;
}
#logobar2 img{
  width: 952px;
height: 484px;
}

/* end of css bar2 */