/* css reset */
* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}
header {
  /* border: 2px solid rgb(34, 255, 0); */
  height: 1000px;
  background-image: url(/photos/barimg.jpg);
  background-position: center;
  opacity: 1;
  background-size: cover;
  
}

/*..........................................................................................................................*/

/* bar css aah */
.bar {
  display: flex;
  border: 2px solid red;
  background-color: red;
  height: 65px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(255, 252, 252);
  align-items: center;
  text-align: center;
}
.items {
  font-size: 23px;
  font-weight: bolder;
  border: 2px solid red;
  width: 257px;
  margin: 5px;
  padding: 5px;
  height: 42px;
}

#phoneicon img {
  /* border: 2px solid yellow; */
  width: 36px;
  height: 34px;
  margin: 12px;
}
#phoneicon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#two {
  display: flex;
  align-items: center;
  justify-content: center;
}
#two img {
  width: 56px;
  height: 56px;
  padding: 9px;
  margin: 0px;
}
#three {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end of bar css */

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* bar media queries */
@media only screen and (min-width: 418px) and (max-width: 847px) {
  .bar {
    height: 143px;
  }
}
@media only screen and (min-width: 284px) and (max-width: 565px) {
  .bar {
    height: 219px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 283px) {
  .bar {
    height: 221px;
  }
}

/* end of bar media queries */

/*.........................................................................................................................*/

/* BAR3 sart
#bar3{
border: 2px solid red;
display: flex;
justify-content: center;

} */

/*.........................................................................................................................*/

/* videoBar cha css ahh */

/* #videobar {
  display: flex;
  /* border: 2px solid red; */
/* flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative;
}
video  {
  width: 2300px;
  font-optical-sizing: 2;
  height: 1090px;
  position: relative;
  z-index: 0; */
/* } */
/* .overlay{
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
  } */
/* .overlay {
    font-size: xx-large;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 596px;
  left: 47px;
  z-index: 1;
  font-weight: bolder;
}
.d1 p {
  font-size: 140px;
}
.d2 p {
  font-size: 73px;
}
.d3 p {
  font-size: 140px;
} */
/* end of css videobar */

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*start NAVIGATION BAR*/

#navbar {
  /* border: 2px solid rgb(17, 255, 0); */
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(97, 127, 234);
  background: transparent;
  background-color: #000000a3;
}
#menu ul {
  display: flex;
  /* border: 2px solid rgb(98, 177, 56); */
  height: 50px;
  width: 1100px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#menu ul li {
  list-style: none;
}
#menu ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 31px;

  font-weight: bold;
}
#menu ul li a:hover {
  color: rgb(255, 98, 0);
  text-decoration: underline;
  
}
#navbar #logo #logoname p {
  color: rgb(255, 85, 0);
  font-size: 39px;
  font-weight: bolder;
  font-family: "Ranga", cursive;
  font-family: "Teko", sans-serif;
  /* border: 2px solid green; */
  margin: 100px;
  margin-right: -13px;
  width: 364px;
  margin-left: -5px;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-name: logoNP;
}
@keyframes logoNP {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translate(0);
  }

  /* other animation */
  /* 0% {
		font-size: 10px;
	}
	30% {
		font-size: 15px;
	}
	100% {
		font-size: 12px;
	} */
}
#logoimg img {
  width: 350px;
  height: 100px;
  /* border: 2px solide green; */
  padding-right: 16px;
  margin-left: -36px;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-name: logoIMG;
}
@keyframes logoIMG {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translate(0);
  }
}
#logo {
  display: flex;
  /* border: 10px solid rgba(63, 15, 255, 0.2); */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 700px;
  height: 60px;
}

#menu ul li a {
  /* border: 2px solid yellow; */
  border-radius: 10px;
  /* transition: all 1s ease-in-out 0.3s; */
}
/* hover kelyavr khali varti kelyavar hai hota height */
.list:hover {
  /* background-color: rgb(242, 57, 0); */
  height: 60px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*...........................................................**body1 start........................................................................*/
#body1 {
  padding: 130px;
  /* border: 10px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#lorem1 p {
  font-size: xx-large;
  width: 500px;
  /* border: 2px solid red; */
  position: relative;
  animation-name: psar1;
  flex-wrap: wrap;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  text-align: justify;
  margin-right: 50px;
  color: rgb(0, 0, 0);
  
}
@keyframes psar1 {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translate(0);
  }
}
#img1 img {
  width: 500px;
  height: 350px;
  /* border: 2px solid green; */
  border-radius: 35px;
  box-shadow: 5px 10px 5px rgb(93, 87, 87);
  position: relative;
  animation-name: imgsar;
  flex-wrap: wrap;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  transition: all 1s ease-in-out 0.3s;
}
#img1 img:hover {
  border-radius: 0px;
  height: 800px;
  width: 800px;
}
@keyframes imgsar {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translatex(0);
  }
}

/*...........................................................**body2 start........................................................................*/
#body2 {
  padding: 40px;
  /* border: 10px solid rgb(30, 28, 28); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
#lorem2 p {
  font-size: xx-large;
  width: 500px;
  /* border: 2px solid red; */
  position: relative;
  animation-name: psar2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: justify;
  animation-delay: 4s;
  margin-left: 30px;
  color: rgb(0, 0, 0);
}
@keyframes psar2 {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
#img2 img {
  width: 500px;
  height: 350px;
  border: 2px solid black;
  box-shadow: 5px 10px 5px rgb(85, 82, 82);
  border-radius: 35px;
  position: relative;
  margin-right: 35px;
  animation-name: imgsar2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 4s;
  transition: all 1s ease-in-out 0.3s;
}
#img2 img:hover {
  border-radius: 0px;
  height: 800px;
  width: 800px;
}
@keyframes imgsar2 {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

/*...........................................................**body3 start**........................................................................*/

#body3 {
  padding: 80px;
  /* border: 10px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#lorem3 p {
  font-size: xx-large;
  width: 500px;
  /* border: 2px solid red; */
  position: relative;
  animation-name: psar3;
  flex-wrap: wrap;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  text-align: justify;
  color: rgb(0, 0, 0);
  margin-right: 50px;
}
@keyframes psar3 {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translate(0);
  }
}
#img3 img {
  width: 500px;
  height: 350px;
  /* border: 2px solid green; */
  border-radius: 35px;
  box-shadow: 5px 10px 5px rgb(93, 87, 87);
  position: relative;
  animation-name: imgsar3;
  flex-wrap: wrap;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  transition: all 1s ease-in-out 0.3s;
}
#img3 img:hover {
  border-radius: 0px;
  height: 800px;
  width: 800px;
}
@keyframes imgsar3 {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translatex(0);
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
